
        :root {
            --primaryColor: #0276FF;
            --secondaryColor: #0064DB;
            --thirdColor: #061324;
            --bgColor: #FAFBFF;
            --darkModePrimaryColor: #13151E;
            --darkModeSecondaryColor:  #262E3E;
            --darkModeThirdColor: #262E3E;
            --darkModeBgColor: #12151E;
        }
        